version: "3.9"

services:
  app:
    image: user-service:latest
    container_name: user-service
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb+srv://${MONGO_USERNAME}:${MONGO_PASSWORD}@users.rmpyjrs.mongodb.net/?appName=users