services:
  app:
    image: user-service:latest
    container_name: user-service
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb+srv://nbAdaran:123@users.rmpyjrs.mongodb.net/users-db?appName=users