server:
  port: 8032
  address: 0.0.0.0
  error:
    include-message: always
    include-stacktrace: always


spring:
  data:
    mongodb:
      uri: mongodb+srv://nbAdaran:123@users.rmpyjrs.mongodb.net/users-db?appName=users

